force-app/main/default/flows/Change_Account_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>notifyOrderAddressChange</name>
        <label>Notify about order address change</label>
        <locationX>895</locationX>
        <locationY>431</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>loopRelatedOrders</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ArrayOfUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Order updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>order.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>setOrderAddress</name>
        <label>Update order address</label>
        <locationX>661</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>order.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentAccount.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentAccount.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentAccount.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentAccount.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentAccount.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentAccount.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentAccount.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentAccount.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentAccount.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentAccount.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOrder</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isAddressConfirmed</name>
        <label>Was the address confirmed?</label>
        <locationX>378</locationX>
        <locationY>215</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>addressConfirmedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>confirmChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateAddress</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>addressConfirmedFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>confirmChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addressUpdateScreen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>notificationBody</name>
        <dataType>String</dataType>
        <expression>&quot;The address for order #&quot; &amp; {!order.OrderNumber} &amp; &quot; has been modified.&quot;</expression>
    </formulas>
    <formulas>
        <name>userId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Change Account Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Account Address</label>
    <loops>
        <name>loopRelatedOrders</name>
        <label>Loop through related orders</label>
        <locationX>657</locationX>
        <locationY>439</locationY>
        <assignNextValueToReference>order</assignNextValueToReference>
        <collectionReference>getOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setOrderAddress</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>showSuccessScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCurrentAccount</name>
        <label>Get the current Account</label>
        <locationX>139</locationX>
        <locationY>439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addressUpdateScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNotification</name>
        <label>Get Notification</label>
        <locationX>655</locationX>
        <locationY>617</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopRelatedOrders</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrders</name>
        <label>Get related activated Orders</label>
        <locationX>515</locationX>
        <locationY>617</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getNotification</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAddress</name>
        <label>Update the Address record</label>
        <locationX>515</locationX>
        <locationY>439</locationY>
        <connector>
            <targetReference>getOrders</targetReference>
        </connector>
        <inputReference>getCurrentAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateOrder</name>
        <label>Update the order address</label>
        <locationX>893</locationX>
        <locationY>217</locationY>
        <connector>
            <targetReference>convertIdToArray</targetReference>
        </connector>
        <inputReference>order</inputReference>
    </recordUpdates>
    <screens>
        <name>addressUpdateScreen</name>
        <label>Display the address update form</label>
        <locationX>266</locationX>
        <locationY>439</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>confirmAddress</targetReference>
        </connector>
        <fields>
            <name>address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>getCurrentAccount.ShippingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>getCurrentAccount.ShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>getCurrentAccount.ShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>getCurrentAccount.ShippingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>getCurrentAccount.ShippingState</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>getCurrentAccount.ShippingCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>getCurrentAccount.ShippingCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>getCurrentAccount.ShippingPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>getCurrentAccount.ShippingState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>getCurrentAccount.ShippingStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>switchUpdateBillingAddress</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Also update the billing address?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>billingAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>getCurrentAccount.BillingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>getCurrentAccount.BillingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>getCurrentAccount.BillingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>getCurrentAccount.BillingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>getCurrentAccount.BillingStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>switchUpdateBillingAddress.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>confirmAddress</name>
        <label>Display the confirmation screen</label>
        <locationX>386</locationX>
        <locationY>439</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>isAddressConfirmed</targetReference>
        </connector>
        <fields>
            <name>confirmMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please confirm this address change.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>confirmChange</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes, I confirm this change.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>addressMap</name>
            <extensionName>c:lwcMap</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>getCurrentAccount.ShippingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>getCurrentAccount.ShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>getCurrentAccount.ShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>getCurrentAccount.ShippingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>getCurrentAccount.ShippingStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSuccessScreen</name>
        <label>Show success screen</label>
        <locationX>887</locationX>
        <locationY>615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;The account&#39;s address and all impacted active orders have now been updated!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>212</locationY>
        <connector>
            <targetReference>getCurrentAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>convertIdToArray</name>
        <label>Convert ID to Array of IDs</label>
        <locationX>1058</locationX>
        <locationY>325</locationY>
        <connector>
            <targetReference>notifyOrderAddressChange</targetReference>
        </connector>
        <flowName>Convert_ID_to_Array_of_IDs</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ArrayOfUserId</assignToReference>
            <name>ArrayOfId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ArrayOfUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
