force-app/main/default/flows/Generate_Account_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>activateOrder</name>
        <label>Set the Order to Activated</label>
        <locationX>1228</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignActivateContract</name>
        <label>Set Contract to Activated</label>
        <locationX>990</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOrderPriceBookEntry</name>
        <label>Assign the Price Book to the Order</label>
        <locationX>716</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>order.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPricebookEntry.Pricebook2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOrderPriceBookEntry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOrderProduct</name>
        <label>Assign a Product to the Order</label>
        <locationX>716</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>orderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderProduct.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPricebookEntry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createOrderProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setContractValues</name>
        <label>Assign values to the Contract record</label>
        <locationX>201</locationX>
        <locationY>272</locationY>
        <assignmentItems>
            <assignToReference>contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastWeek</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOrderValues</name>
        <label>Assign values to the Order record</label>
        <locationX>432</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>order.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastWeek</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentAccount.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentAccount.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentAccount.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentAccount.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentAccount.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentAccount.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentAccount.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentAccount.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentAccount.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentAccount.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createOrder</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>lastWeek</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 7</expression>
    </formulas>
    <interviewLabel>Generate Account Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Account Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createContract</name>
        <label>Create the contract</label>
        <locationX>201</locationX>
        <locationY>515</locationY>
        <connector>
            <targetReference>setOrderValues</targetReference>
        </connector>
        <inputReference>contract</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createOrder</name>
        <label>Create the order</label>
        <locationX>432</locationX>
        <locationY>277</locationY>
        <connector>
            <targetReference>getPricebookEntry</targetReference>
        </connector>
        <inputReference>order</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createOrderProduct</name>
        <label>Create the Order Product</label>
        <locationX>990</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>assignActivateContract</targetReference>
        </connector>
        <inputReference>orderProduct</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getCurrentAccount</name>
        <label>Get the current account</label>
        <locationX>201</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setContractValues</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPricebookEntry</name>
        <label>Retrieve a Price Book Entry record</label>
        <locationX>432</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignOrderPriceBookEntry</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateContract</name>
        <label>Update the Contract</label>
        <locationX>990</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>activateOrder</targetReference>
        </connector>
        <inputReference>contract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateOrder</name>
        <label>Update the Order</label>
        <locationX>1228</locationX>
        <locationY>280</locationY>
        <inputReference>order</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateOrderPriceBookEntry</name>
        <label>Update the Order</label>
        <locationX>716</locationX>
        <locationY>273</locationY>
        <connector>
            <targetReference>assignOrderProduct</targetReference>
        </connector>
        <inputReference>order</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getCurrentAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>orderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
