force-app/main/default/flows/Onboard_New_Employee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Change_Status_to_Setup</name>
        <label>Change Status to Setup</label>
        <locationX>697</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>Get_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Setup</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Record.Send_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Employee_with_new_Status</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CultureAndValues</name>
        <choiceText>Culture and Values</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Using your Mobile Device</stringValue>
        </value>
    </choices>
    <choices>
        <name>DesktopUsage</name>
        <choiceText>Desktop Usage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Using your Mobile Device</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmployeeBenefits</name>
        <choiceText>Employee Benefits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Using your Mobile Device</stringValue>
        </value>
    </choices>
    <choices>
        <name>GuestRelations</name>
        <choiceText>Guest Relations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Using your Mobile Device</stringValue>
        </value>
    </choices>
    <choices>
        <name>HotelOperations</name>
        <choiceText>Hotel Operations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Using your Mobile Device</stringValue>
        </value>
    </choices>
    <choices>
        <name>Security</name>
        <choiceText>Security and Compliance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Using your Mobile Device</stringValue>
        </value>
    </choices>
    <choices>
        <name>UseYourPhone</name>
        <choiceText>Mobile Device Usage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Using your Mobile Device</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Status</name>
        <label>CheckStatus</label>
        <locationX>166</locationX>
        <locationY>32</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Hire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Hire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Onboarding</targetReference>
            </connector>
            <label>New Hire</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Groups</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>8</limit>
        <object>CollaborationGroup</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LaptopChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Laptop_Type__c</picklistField>
        <picklistObject>Equipment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PhoneChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Phone_Type__c</picklistField>
        <picklistObject>Equipment__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Onboard New Employee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboard New Employee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Record</name>
        <label>Get Employee Record</label>
        <locationX>35</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Phone__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>User_Record__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Employee_with_new_Status</name>
        <label>Update Employee with new Status</label>
        <locationX>790</locationX>
        <locationY>430</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputReference>Get_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Employee Record</label>
        <locationX>238</locationX>
        <locationY>425</locationY>
        <connector>
            <targetReference>Required_Equipment</targetReference>
        </connector>
        <inputReference>Get_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Final_Screen</name>
        <label>Finalize Onboarding</label>
        <locationX>877</locationX>
        <locationY>237</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalMessage</name>
            <fieldText>&lt;p&gt;Please click FINISH to finalize these onboarding activities.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Hire_Basics</name>
        <label>New Hire Basics</label>
        <locationX>161</locationX>
        <locationY>230</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Record.First_Name__c</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Record.Last_Name__c</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Record.Phone__c</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Required_Equipment</name>
        <label>Required Equipment</label>
        <locationX>322</locationX>
        <locationY>232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Provision_Equipment</targetReference>
        </connector>
        <fields>
            <name>NeedPhoneToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Will they need a phone?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>NeedPhone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PhonesRadio</name>
            <choiceReferences>PhoneChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Phones</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NeedPhoneToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NeedLaptopToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Will they need a laptop?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>NeedLaptop</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Laptops</name>
            <choiceReferences>LaptopChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Laptops</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NeedLaptopToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NeedDesktopToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Will they need a desktop?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Training_Modules</name>
        <label>Select Training Modules</label>
        <locationX>500</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Training_Assignments</targetReference>
        </connector>
        <fields>
            <name>Select_Trainings</name>
            <choiceReferences>CultureAndValues</choiceReferences>
            <choiceReferences>DesktopUsage</choiceReferences>
            <choiceReferences>EmployeeBenefits</choiceReferences>
            <choiceReferences>GuestRelations</choiceReferences>
            <choiceReferences>HotelOperations</choiceReferences>
            <choiceReferences>UseYourPhone</choiceReferences>
            <choiceReferences>Security</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Training Modules</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Onboarding</name>
        <label>Start Onboarding</label>
        <locationX>328</locationX>
        <locationY>31</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Hire_Basics</targetReference>
        </connector>
        <fields>
            <name>Start_Button</name>
            <extensionName>c:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>35</locationX>
        <locationY>231</locationY>
        <connector>
            <targetReference>Get_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Provision_Equipment</name>
        <label>Provision Equipment</label>
        <locationX>415</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Select_Training_Modules</targetReference>
        </connector>
        <flowName>Provision_Equipment</flowName>
        <inputAssignments>
            <name>DesktopType</name>
        </inputAssignments>
        <inputAssignments>
            <name>LaptopType</name>
            <value>
                <elementReference>Laptops</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneType</name>
            <value>
                <elementReference>PhonesRadio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>Get_Record.User_Record__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Training_Assignments</name>
        <label>Training Assignments</label>
        <locationX>596</locationX>
        <locationY>429</locationY>
        <connector>
            <targetReference>Change_Status_to_Setup</targetReference>
        </connector>
        <flowName>Training_Assignments</flowName>
        <inputAssignments>
            <name>EmployeeId</name>
            <value>
                <elementReference>Get_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TrainingsConcatenatedText</name>
            <value>
                <elementReference>Select_Trainings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>Get_Record.User_Record__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>NeedLaptop</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NeedPhone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
