force-app/main/default/flows/Provision_Equipment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NotifyDesktop</name>
        <label>NotifyDesktop</label>
        <locationX>823</locationX>
        <locationY>187</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>HasPhone</targetReference>
        </connector>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserIdsasArray</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Equipment Provisioned</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_NotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You&#39;ve been assigned a new {!DesktopType}.  Be on the lookout for the shipping or pickup information.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>SavedDesktopId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NotifyLaptop</name>
        <label>NotifyLaptop</label>
        <locationX>484</locationX>
        <locationY>81</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>HasDesktop</targetReference>
        </connector>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserIdsasArray</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Equipment Provisioned</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_NotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You&#39;ve been assigned a new {!LaptopType}.  Be on the lookout for the shipping or pickup information.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>SavedLaptopId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NotifyPhone</name>
        <label>NotifyPhone</label>
        <locationX>840</locationX>
        <locationY>623</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserIdsasArray</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Equipment Provisioned</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_NotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You&#39;ve been assigned a new {!PhoneType}.  Be on the lookout for pickup or shipping information.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>SavedPhoneId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>HasDesktop</name>
        <label>HasDesktop</label>
        <locationX>426</locationX>
        <locationY>317</locationY>
        <defaultConnector>
            <targetReference>HasPhone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Desktop</defaultConnectorLabel>
        <rules>
            <name>DesktopYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DesktopType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DesktopType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Desktop</targetReference>
            </connector>
            <label>Desktop</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasLaptop</name>
        <label>HasLaptop</label>
        <locationX>212</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>HasDesktop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Laptop</defaultConnectorLabel>
        <rules>
            <name>LaptopYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LaptopType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LaptopType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Laptop</targetReference>
            </connector>
            <label>Set Laptop</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasPhone</name>
        <label>HasPhone</label>
        <locationX>645</locationX>
        <locationY>428</locationY>
        <defaultConnectorLabel>No Phone</defaultConnectorLabel>
        <rules>
            <name>PhoneYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhoneType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PhoneType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Phone</targetReference>
            </connector>
            <label>Set Phone</label>
        </rules>
    </decisions>
    <interviewLabel>Provision Equipment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Provision Equipment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>426</locationX>
        <locationY>623</locationY>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Provision iPhone Xs</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Save_Desktop</name>
        <label>Save Desktop</label>
        <locationX>653</locationX>
        <locationY>187</locationY>
        <assignRecordIdToReference>SavedDesktopId</assignRecordIdToReference>
        <connector>
            <targetReference>HasPhone</targetReference>
        </connector>
        <inputAssignments>
            <field>Desktop_Type__c</field>
            <value>
                <elementReference>DesktopType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Desktop</stringValue>
            </value>
        </inputAssignments>
        <object>Equipment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Save_Laptop</name>
        <label>Save Laptop</label>
        <locationX>297</locationX>
        <locationY>82</locationY>
        <assignRecordIdToReference>SavedLaptopId</assignRecordIdToReference>
        <connector>
            <targetReference>HasDesktop</targetReference>
        </connector>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Laptop_Type__c</field>
            <value>
                <elementReference>LaptopType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Laptop</stringValue>
            </value>
        </inputAssignments>
        <object>Equipment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Save_Phone</name>
        <label>Save Phone</label>
        <locationX>654</locationX>
        <locationY>624</locationY>
        <assignRecordIdToReference>SavedPhoneId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Type__c</field>
            <value>
                <elementReference>PhoneType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <stringValue>8FBSGE-24M3453-J3NDKA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Mobile Phone</stringValue>
            </value>
        </inputAssignments>
        <object>Equipment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_NotificationType</name>
        <label>Get NotificationType</label>
        <locationX>127</locationX>
        <locationY>511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasLaptop</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>193</locationY>
        <connector>
            <targetReference>Convert_Id_to_Array</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Convert_Id_to_Array</name>
        <label>Convert Id to Array</label>
        <locationX>50</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_NotificationType</targetReference>
        </connector>
        <flowName>Convert_ID_to_Array_of_IDs</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>UserIdsasArray</assignToReference>
            <name>ArrayOfId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Desktop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Equipment__c</objectType>
    </variables>
    <variables>
        <name>DesktopType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EquipmentToSave</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Equipment__c</objectType>
    </variables>
    <variables>
        <name>Laptop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Equipment__c</objectType>
    </variables>
    <variables>
        <name>LaptopType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Equipment__c</objectType>
    </variables>
    <variables>
        <name>PhoneType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedDesktopId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedLaptopId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedPhoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIdsasArray</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
