force-app/main/default/flows/Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Task</name>
        <label>New Task</label>
        <locationX>1072</locationX>
        <locationY>114</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>New_Task_Success_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <dateValue>2021-01-01</dateValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Assign_User_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>New Task, Very Important.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>905</locationX>
        <locationY>869</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>chatterSuccessScreen</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Send_a_Message_to_a_Contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>905</locationX>
        <locationY>280</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>chatterDecision</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ArrayOfUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notification_subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notification_body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>chatterChoice</name>
        <choiceText>Post to Chatter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Post a Chatter</stringValue>
        </value>
    </choices>
    <choices>
        <name>confettiChoice</name>
        <choiceText>Throw Confetti!</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Throw Confetti!</stringValue>
        </value>
    </choices>
    <choices>
        <name>modifyChoice</name>
        <choiceText>View/Modify Record</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>View/Modify Record</stringValue>
        </value>
    </choices>
    <choices>
        <name>notificationChoice</name>
        <choiceText>Send a Notification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send a Notification</stringValue>
        </value>
    </choices>
    <choices>
        <name>recordChoice</name>
        <choiceText>View/Modify a Record</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>View/Modify a Record</stringValue>
        </value>
    </choices>
    <choices>
        <name>screenChoice</name>
        <choiceText>Display a Dynamic, Interactive Screen</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interact with a Screen</stringValue>
        </value>
    </choices>
    <choices>
        <name>taskChoice</name>
        <choiceText>Create a Task</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create a Task</stringValue>
        </value>
    </choices>
    <decisions>
        <name>chatterDecision</name>
        <label>Post to Chatter?</label>
        <locationX>897</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>chatterOutcomeTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chatterChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>chatterMessageScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>chatterOutcomeFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowActions</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>chatterChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>taskDecision</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>confettiScreen</name>
        <label>Show Confetti?</label>
        <locationX>1262</locationX>
        <locationY>472</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>confettiOutcomeTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>confettiChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confetti</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>confettiOutcomeFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowActions</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>confettiChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>completeScreen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>notificationDecision</name>
        <label>Send a Notification?</label>
        <locationX>716</locationX>
        <locationY>466</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notificationOutcomeTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>notificationChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getNotification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>notificationOutcomeFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowActions</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>notificationChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>chatterDecision</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordDecision</name>
        <label>View/Modify a Record?</label>
        <locationX>536</locationX>
        <locationY>464</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>recordOutcomeTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>recordOutcomeFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowActions</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recordChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notificationDecision</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>taskDecision</name>
        <label>Create a Task?</label>
        <locationX>1063</locationX>
        <locationY>471</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>taskOutcomeTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>taskChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>taskOutcomeFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowActions</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>taskChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>confettiScreen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Assign_User_Id</name>
        <label>Assign User Id</label>
        <locationX>1072</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Task</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>Get the Most Recent Contact</label>
        <locationX>543</locationX>
        <locationY>680</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recordViewScreen</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNotification</name>
        <label>Get Notification Id</label>
        <locationX>723</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_Screen</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>724</locationX>
        <locationY>867</locationY>
        <connector>
            <targetReference>recordSuccessScreen</targetReference>
        </connector>
        <inputReference>getContact</inputReference>
    </recordUpdates>
    <screens>
        <name>chatterMessageScreen</name>
        <label>Message Screen</label>
        <locationX>905</locationX>
        <locationY>687</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
        <fields>
            <name>Send_a_Message_to_a_Contact</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>chatter_message</elementReference>
            </defaultValue>
            <fieldText>Send a Message to a Contact:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>chatterSuccessScreen</name>
        <label>Chatter Success Screen</label>
        <locationX>1071</locationX>
        <locationY>869</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>taskDecision</targetReference>
        </connector>
        <fields>
            <name>success_chatter_text</name>
            <fieldText>&lt;p&gt;You just post a chatter with the message&lt;/p&gt;&lt;p&gt;{!Send_a_Message_to_a_Contact}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can see it &lt;a href=&quot;/{!recordId}&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 68, 255);&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>completeScreen</name>
        <label>Complete Screen</label>
        <locationX>1471</locationX>
        <locationY>471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confetti</name>
        <label>Confetti!</label>
        <locationX>1270</locationX>
        <locationY>877</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>confettiComponent</name>
            <extensionName>c:lightningWebComponentExample</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>flowActionsScreen</name>
        <label>Select Flow Actions</label>
        <locationX>349</locationX>
        <locationY>462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>recordDecision</targetReference>
        </connector>
        <fields>
            <name>flowActions</name>
            <choiceReferences>modifyChoice</choiceReferences>
            <choiceReferences>notificationChoice</choiceReferences>
            <choiceReferences>chatterChoice</choiceReferences>
            <choiceReferences>taskChoice</choiceReferences>
            <choiceReferences>confettiChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What do you want your Flow to do?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Task_Success_Screen</name>
        <label>New Task Success Screen</label>
        <locationX>1270</locationX>
        <locationY>114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>confettiScreen</targetReference>
        </connector>
        <fields>
            <name>success_new_task_text</name>
            <fieldText>&lt;p&gt;You just created a new task for a contact.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Check it &lt;span style=&quot;color: rgb(0, 68, 255);&quot;&gt;here&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notification_Screen</name>
        <label>Notification Screen</label>
        <locationX>723</locationX>
        <locationY>112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Convert_Id_To_Array</targetReference>
        </connector>
        <fields>
            <name>notification_label</name>
            <fieldText>&lt;p&gt;Create your custom notification.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>notification_subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>notification_body</name>
            <dataType>String</dataType>
            <fieldText>Body</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>recordSuccessScreen</name>
        <label>View/Modify Record Success</label>
        <locationX>724</locationX>
        <locationY>685</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>notificationDecision</targetReference>
        </connector>
        <fields>
            <name>ViewModifyRecord_SuccessText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(30, 30, 30); font-family: monospace; background-color: rgb(255, 255, 255);&quot;&gt;The contact {!getContact.FirstName} &lt;/span&gt;&lt;span style=&quot;color: rgb(30, 30, 30); font-family: monospace; background-color: rgb(255, 255, 255); font-size: 10.5625px;&quot;&gt;{!getContact.LastName}&lt;/span&gt;&lt;span style=&quot;color: rgb(30, 30, 30); font-family: monospace; background-color: rgb(255, 255, 255);&quot;&gt; was modified!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!getContact.Id}&quot; target=&quot;_blank&quot;&gt;Go to the record.&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>recordViewScreen</name>
        <label>Contact Info</label>
        <locationX>543</locationX>
        <locationY>867</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <fields>
            <name>contactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>getContact.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>getContact.LastName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>getContact.FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>getContact.LastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>getContact.Email</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>getContact.Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>birthdate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>getContact.Birthdate</elementReference>
            </defaultValue>
            <fieldText>Birthdate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>156</locationX>
        <locationY>462</locationY>
        <connector>
            <targetReference>flowActionsScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Convert_Id_To_Array</name>
        <label>Convert Id To Array</label>
        <locationX>905</locationX>
        <locationY>112</locationY>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <flowName>Convert_ID_to_Array_of_IDs</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Assign_User_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ArrayOfUserId</assignToReference>
            <name>ArrayOfId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ArrayOfUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chatter_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
