force-app/main/default/flows/Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Task</name>
        <label>New Task</label>
        <locationX>1115</locationX>
        <locationY>129</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>New_Task_Success_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <dateValue>2021-01-01</dateValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Assign_User_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>New Task, Very Important.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>856</locationX>
        <locationY>661</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Chatter_Success_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Send_a_Message_to_a_Contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>1187</locationX>
        <locationY>669</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Notification_Success_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ArrayOfUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notification_subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notification_body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Flow_Assignment</name>
        <label>Flow Assignment</label>
        <locationX>849</locationX>
        <locationY>87</locationY>
        <assignmentItems>
            <assignToReference>flow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowChoiceRadio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_a_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_ID</name>
        <label>Set Contact ID</label>
        <locationX>225</locationX>
        <locationY>679</locationY>
        <assignmentItems>
            <assignToReference>contact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_a_Match.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chatterChoice</name>
        <choiceText>Post to Chatter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Post a Chatter</stringValue>
        </value>
    </choices>
    <choices>
        <name>notificationChoice</name>
        <choiceText>Send a Notification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send a Notification</stringValue>
        </value>
    </choices>
    <choices>
        <name>recordChoice</name>
        <choiceText>Create/Modify a Record</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create/Modify a Record</stringValue>
        </value>
    </choices>
    <choices>
        <name>screenChoice</name>
        <choiceText>Display a Dynamic, Interactive Screen</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interact with a Screen</stringValue>
        </value>
    </choices>
    <choices>
        <name>taskChoice</name>
        <choiceText>Create a Task</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create a Task</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decide_a_Flow</name>
        <label>Decide a Flow</label>
        <locationX>841</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Flow_Screen</targetReference>
            </connector>
            <label>Record Flow</label>
        </rules>
        <rules>
            <name>Chatter_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chatterChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_Screen</targetReference>
            </connector>
            <label>Chatter Flow</label>
        </rules>
        <rules>
            <name>LWC_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>screenChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LWC_Screen</targetReference>
            </connector>
            <label>LWC Flow</label>
        </rules>
        <rules>
            <name>Notification_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>notificationChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Screen</targetReference>
            </connector>
            <label>Notification Flow</label>
        </rules>
        <rules>
            <name>Create_Task_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>taskChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Task</targetReference>
            </connector>
            <label>Create Task Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_or_Create</name>
        <label>Update or Create?</label>
        <locationX>409</locationX>
        <locationY>687</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New</defaultConnectorLabel>
        <rules>
            <name>Update_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>update_toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_a_Match</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_ID</targetReference>
            </connector>
            <label>Update Existing</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>accounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>contact.AccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>created_or_updated</name>
        <dataType>String</dataType>
        <expression>IF({!Create_Contact}, &quot;created&quot;, &quot;updated&quot;)</expression>
    </formulas>
    <interviewLabel>Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>623</locationX>
        <locationY>685</locationY>
        <connector>
            <targetReference>Confirm</targetReference>
        </connector>
        <inputReference>contact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Assign_Example_Record</name>
        <label>Assign Example Record</label>
        <locationX>205</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_Id</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Example</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>recordId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Assign_User_Id</name>
        <label>Assign User Id</label>
        <locationX>307</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Notification_Id</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_a_Match</name>
        <label>Find a Match</label>
        <locationX>364</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_or_Create</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.LastName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Id</name>
        <label>Get Notification Id</label>
        <locationX>419</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Flow_Screen</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>318</locationX>
        <locationY>842</locationY>
        <connector>
            <targetReference>Confirm</targetReference>
        </connector>
        <inputReference>contact</inputReference>
    </recordUpdates>
    <screens>
        <name>Chatter_Success_Screen</name>
        <label>Chatter Success Screen</label>
        <locationX>856</locationX>
        <locationY>817</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>success_chatter_text</name>
            <fieldText>&lt;p&gt;You just post a chatter with the message&lt;/p&gt;&lt;p&gt;{!Send_a_Message_to_a_Contact}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can see it &lt;a href=&quot;/{!recordId}&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 68, 255);&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Flow_Screen</name>
        <label>Choose Flow Screen</label>
        <locationX>571</locationX>
        <locationY>87</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Flow_Assignment</targetReference>
        </connector>
        <fields>
            <name>flowChoiceRadio</name>
            <choiceReferences>chatterChoice</choiceReferences>
            <choiceReferences>recordChoice</choiceReferences>
            <choiceReferences>screenChoice</choiceReferences>
            <choiceReferences>notificationChoice</choiceReferences>
            <choiceReferences>taskChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like Flow to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>622</locationX>
        <locationY>843</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>confirmation_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: monospace; color: rgb(30, 30, 30);&quot;&gt;The contact {!contact.FirstName} &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: monospace; color: rgb(30, 30, 30); font-size: 10.5625px;&quot;&gt;{!contact.LastName}&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: monospace; color: rgb(30, 30, 30);&quot;&gt; was {!created_or_updated}!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!contact.Id}&quot; target=&quot;_blank&quot;&gt;Go to the record.&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Info</name>
        <label>Contact Info</label>
        <locationX>364</locationX>
        <locationY>245</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_a_Match</targetReference>
        </connector>
        <fields>
            <name>contactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contact.FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contact.LastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Account</name>
            <choiceReferences>accounts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>update_toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>If this contact already exists, update the existing record.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Update existing</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Create other contact</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LWC_Screen</name>
        <label>LWC Screen</label>
        <locationX>968</locationX>
        <locationY>415</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lwcScreenComponent</name>
            <extensionName>c:lightningWebComponentExample</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message_Screen</name>
        <label>Message Screen</label>
        <locationX>856</locationX>
        <locationY>505</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
        <fields>
            <name>Send_a_Message_to_a_Contact</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>chatter_message</elementReference>
            </defaultValue>
            <fieldText>Send a Message to a Contact:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Task_Success_Screen</name>
        <label>New Task Success Screen</label>
        <locationX>1248</locationX>
        <locationY>130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>success_new_task_text</name>
            <fieldText>&lt;p&gt;You just created a new task for a contact.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Check it &lt;span style=&quot;color: rgb(0, 68, 255);&quot;&gt;here&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notification_Screen</name>
        <label>Notification Screen</label>
        <locationX>1246</locationX>
        <locationY>369</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Convert_Id_To_Array</targetReference>
        </connector>
        <fields>
            <name>notification_label</name>
            <fieldText>&lt;p&gt;Create your custom notification.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>notification_subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>notification_body</name>
            <dataType>String</dataType>
            <fieldText>Body</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notification_Success_Screen</name>
        <label>Notification Success Screen</label>
        <locationX>1187</locationX>
        <locationY>824</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>notification_success_screen_text</name>
            <fieldText>&lt;p&gt;You just send a Notification!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Check your notifications in your &lt;a href=&quot;/lightning/page/home&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 68, 255);&quot;&gt;Home&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Flow_Screen</name>
        <label>Record Flow Screen</label>
        <locationX>560</locationX>
        <locationY>245</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Info</targetReference>
        </connector>
        <fields>
            <name>recordFlowScreenText</name>
            <fieldText>&lt;p&gt;FLOW: {!recordChoice}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>87</locationY>
        <connector>
            <targetReference>Assign_Example_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Convert_Id_To_Array</name>
        <label>Convert Id To Array</label>
        <locationX>1187</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <flowName>Convert_ID_to_Array_of_IDs</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Assign_User_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ArrayOfUserId</assignToReference>
            <name>ArrayOfId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ArrayOfUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chatter_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>flow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message_to_send</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
