force-app/main/default/flows/Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_an_Event</name>
        <label>Create an Event</label>
        <locationX>1264</locationX>
        <locationY>868</locationY>
        <actionName>NewEvent</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>New_Event_Success_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDateTime</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EndDateTime</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>New Event</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Task</name>
        <label>New Task</label>
        <locationX>1069</locationX>
        <locationY>84</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>New_Task_Success_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>New Task, Very Important.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <dateValue>2021-01-01</dateValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>905</locationX>
        <locationY>869</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>chatterSuccessScreen</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>message_text</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>905</locationX>
        <locationY>213</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Notification_Success_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notification_subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ArrayOfUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notification_body</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Fields_to_Contact</name>
        <label>Assign Fields to Contact</label>
        <locationX>724</locationX>
        <locationY>867</locationY>
        <assignmentItems>
            <assignToReference>getContact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>birthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContact.Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>level</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContact.Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>budget</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chatterChoice</name>
        <choiceText>Post to Chatter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Post a Chatter</stringValue>
        </value>
    </choices>
    <choices>
        <name>confettiChoice</name>
        <choiceText>Throw Confetti!</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Throw Confetti!</stringValue>
        </value>
    </choices>
    <choices>
        <name>eventChoice</name>
        <choiceText>Create an Event</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create an Event</stringValue>
        </value>
    </choices>
    <choices>
        <name>modifyChoice</name>
        <choiceText>View/Modify Record</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>View/Modify Record</stringValue>
        </value>
    </choices>
    <choices>
        <name>notificationChoice</name>
        <choiceText>Send a Notification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send a Notification</stringValue>
        </value>
    </choices>
    <choices>
        <name>recordChoice</name>
        <choiceText>View/Modify a Record</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>View/Modify a Record</stringValue>
        </value>
    </choices>
    <choices>
        <name>screenChoice</name>
        <choiceText>Display a Dynamic, Interactive Screen</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interact with a Screen</stringValue>
        </value>
    </choices>
    <choices>
        <name>taskChoice</name>
        <choiceText>Create a Task</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create a Task</stringValue>
        </value>
    </choices>
    <decisions>
        <name>chatterDecision</name>
        <label>Post to Chatter?</label>
        <locationX>897</locationX>
        <locationY>464</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>chatterOutcomeTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chatterChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>chatterMessageScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>chatterOutcomeFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowActions</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>chatterChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>taskDecision</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>event_decission</name>
        <label>Create an Event</label>
        <locationX>1257</locationX>
        <locationY>465</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>eventOutcomeTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>eventChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_an_Event</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>eventOutcomeFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowActions</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>eventChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>completeScreen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>notificationDecision</name>
        <label>Send a Notification?</label>
        <locationX>716</locationX>
        <locationY>462</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notificationOutcomeTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>notificationChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getNotification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>notificationOutcomeFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowActions</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>notificationChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>chatterDecision</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordDecision</name>
        <label>View/Modify a Record?</label>
        <locationX>535</locationX>
        <locationY>460</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>recordOutcomeTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>modifyChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>recordOutcomeFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowActions</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>modifyChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notificationDecision</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>taskDecision</name>
        <label>Create a Task?</label>
        <locationX>1063</locationX>
        <locationY>465</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>taskOutcomeTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>taskChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>taskOutcomeFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowActions</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>taskChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>event_decission</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>levels</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Level__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>userId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getContact</name>
        <label>Get the Most Recent Contact</label>
        <locationX>542</locationX>
        <locationY>681</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recordViewScreen</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ashley</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingCity</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingAddress</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>Level__c</queriedFields>
        <queriedFields>Budget__c</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNotification</name>
        <label>Get Notification Id</label>
        <locationX>723</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_Screen</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>725</locationX>
        <locationY>737</locationY>
        <connector>
            <targetReference>recordSuccessScreen</targetReference>
        </connector>
        <inputReference>getContact</inputReference>
    </recordUpdates>
    <screens>
        <name>chatterMessageScreen</name>
        <label>Post to Chatter Screen</label>
        <locationX>905</locationX>
        <locationY>687</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
        <fields>
            <name>message_text</name>
            <defaultValue>
                <stringValue>This is my post to Chatter.</stringValue>
            </defaultValue>
            <fieldText>Post to Chatter</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>chatterSuccessScreen</name>
        <label>Chatter Success Screen</label>
        <locationX>1071</locationX>
        <locationY>869</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>taskDecision</targetReference>
        </connector>
        <fields>
            <name>success_chatter_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;You&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51); font-family: &amp;quot;Salesforce Sans Web&amp;quot;, sans-serif, &amp;quot;Quip Glyphs&amp;quot;;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;just&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51); font-family: &amp;quot;Salesforce Sans Web&amp;quot;, sans-serif, &amp;quot;Quip Glyphs&amp;quot;;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;posted&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51); font-family: &amp;quot;Salesforce Sans Web&amp;quot;, sans-serif, &amp;quot;Quip Glyphs&amp;quot;;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;the&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51); font-family: &amp;quot;Salesforce Sans Web&amp;quot;, sans-serif, &amp;quot;Quip Glyphs&amp;quot;;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;following&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51); font-family: &amp;quot;Salesforce Sans Web&amp;quot;, sans-serif, &amp;quot;Quip Glyphs&amp;quot;;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;message&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51); font-family: &amp;quot;Salesforce Sans Web&amp;quot;, sans-serif, &amp;quot;Quip Glyphs&amp;quot;;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;to&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51); font-family: &amp;quot;Salesforce Sans Web&amp;quot;, sans-serif, &amp;quot;Quip Glyphs&amp;quot;;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51);&quot;&gt;Chatter&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51); font-family: &amp;quot;Salesforce Sans Web&amp;quot;, sans-serif, &amp;quot;Quip Glyphs&amp;quot;;&quot;&gt;: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&quot;{!message_text}&quot;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You can see it &lt;/span&gt;&lt;a href=&quot;/lightning/page/chatter&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(0, 68, 255);&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>completeScreen</name>
        <label>Complete Screen</label>
        <locationX>1452</locationX>
        <locationY>463</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>complete_screen_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Flow completed!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>completed_screen_confetti</name>
            <extensionName>c:lightningWebComponentExample</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>flowActionsScreen</name>
        <label>Select Flow Actions</label>
        <locationX>400</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>recordDecision</targetReference>
        </connector>
        <fields>
            <name>flowActions</name>
            <choiceReferences>modifyChoice</choiceReferences>
            <choiceReferences>notificationChoice</choiceReferences>
            <choiceReferences>chatterChoice</choiceReferences>
            <choiceReferences>taskChoice</choiceReferences>
            <choiceReferences>eventChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What do you want your Flow to do?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Event_Success_Screen</name>
        <label>New Event Success Screen</label>
        <locationX>1452</locationX>
        <locationY>868</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>completeScreen</targetReference>
        </connector>
        <fields>
            <name>event_success_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You created a new Event!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Check it out &lt;/span&gt;&lt;a href=&quot;/lightning/o/Event/home&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 68, 255); font-size: 14px;&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Task_Success_Screen</name>
        <label>New Task Success Screen</label>
        <locationX>1265</locationX>
        <locationY>84</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>event_decission</targetReference>
        </connector>
        <fields>
            <name>success_new_task_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You just created a new task for a contact.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You can see it &lt;/span&gt;&lt;a href=&quot;/lightning/o/Task/home&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(0, 68, 255);&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notification_Screen</name>
        <label>Notification Screen</label>
        <locationX>723</locationX>
        <locationY>85</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Convert_Id_To_Array</targetReference>
        </connector>
        <fields>
            <name>notification_label</name>
            <fieldText>&lt;p&gt;Create your custom notification.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>notification_subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>My notification</stringValue>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>notification_body</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>This is my notification message.</stringValue>
            </defaultValue>
            <fieldText>Body</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notification_Success_Screen</name>
        <label>Notification Success Screen</label>
        <locationX>905</locationX>
        <locationY>331</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>chatterDecision</targetReference>
        </connector>
        <fields>
            <name>notification_success_screen_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;See the notification in your &lt;/span&gt;&lt;a href=&quot;/lightning/page/home&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(0, 58, 255);&quot;&gt;home page&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>recordSuccessScreen</name>
        <label>View/Modify Record Success</label>
        <locationX>724</locationX>
        <locationY>590</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>notificationDecision</targetReference>
        </connector>
        <fields>
            <name>ViewModifyRecord_SuccessText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(30, 30, 30); background-color: rgb(255, 255, 255);&quot;&gt;The&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(30, 30, 30); font-family: monospace; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(30, 30, 30); background-color: rgb(255, 255, 255);&quot;&gt;contact&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(30, 30, 30); font-family: monospace; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(30, 30, 30); background-color: rgb(255, 255, 255);&quot;&gt;{!getContact.FirstName} {!getContact.LastName&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(30, 30, 30); font-family: monospace; background-color: rgb(255, 255, 255);&quot;&gt;}&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(30, 30, 30); background-color: rgb(255, 255, 255);&quot;&gt; was modified!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!getContact.Id}&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Go to the record.&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>recordViewScreen</name>
        <label>Contact Info</label>
        <locationX>543</locationX>
        <locationY>867</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Fields_to_Contact</targetReference>
        </connector>
        <fields>
            <name>contactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>getContact.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>getContact.LastName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>getContact.FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>getContact.LastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>getContact.Email</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>getContact.Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>birthdate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>getContact.Birthdate</elementReference>
            </defaultValue>
            <fieldText>Birthdate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>advance_options_toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Advanced Options</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Show</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Don&#39;t show</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>getContact.Phone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>getContact.Phone</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>advance_options_toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>level</name>
            <choiceReferences>levels</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>advance_options_toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>budget</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>getContact.Budget__c</elementReference>
            </defaultValue>
            <fieldText>Budget</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>advance_options_toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>getContact.MailingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>getContact.MailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>getContact.MailingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>getContact.MailingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>getContact.MailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>getContact.MailingCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>getContact.MailingStreet</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>getContact.MailingState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>getContact.MailingPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>getContact.MailingCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>advance_options_toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>address_map</name>
            <extensionName>c:lwcMap</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>getContact.MailingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>getContact.MailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>getContact.MailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>getContact.MailingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>getContact.MailingStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>advance_options_toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>275</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>flowActionsScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Convert_Id_To_Array</name>
        <label>Convert Id To Array</label>
        <locationX>905</locationX>
        <locationY>84</locationY>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <flowName>Convert_ID_to_Array_of_IDs</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ArrayOfUserId</assignToReference>
            <name>ArrayOfId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ArrayOfUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chatter_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
