force-app/main/default/flows/Training_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_User_about_trainings</name>
        <label>Notify User about trainings</label>
        <locationX>466</locationX>
        <locationY>226</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Loop_Training_Types</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Learn how to get the most from your mobile device.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>TrainingAssignmentID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Learning Module!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserIDAsArray</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Training_Counter</name>
        <label>Training Counter</label>
        <locationX>300</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>TrainingCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Training Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Training Assignments</label>
    <loops>
        <name>Loop_Training_Types</name>
        <label>Loop Training Types</label>
        <locationX>354</locationX>
        <locationY>49</locationY>
        <assignNextValueToReference>TrainingIterator</assignNextValueToReference>
        <collectionReference>TrainingNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Save_Training</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Training_Topic</name>
        <label>Create Training Topic</label>
        <locationX>673</locationX>
        <locationY>226</locationY>
        <connector>
            <targetReference>Notify_User_about_trainings</targetReference>
        </connector>
        <inputAssignments>
            <field>Learning_Module__c</field>
            <value>
                <elementReference>TrainingAssignmentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Using Voice Commands</stringValue>
            </value>
        </inputAssignments>
        <object>Learning_Topic__c</object>
    </recordCreates>
    <recordCreates>
        <name>Save_Training</name>
        <label>Save Training</label>
        <locationX>578</locationX>
        <locationY>47</locationY>
        <assignRecordIdToReference>TrainingAssignmentID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Training_Topic</targetReference>
        </connector>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>EmployeeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TrainingIterator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Assigned_Training__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>50</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserIDToArray</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Notification_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Parse</name>
        <label>Parse</label>
        <locationX>204</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Loop_Training_Types</targetReference>
        </connector>
        <flowName>Parse_Multi_Select</flowName>
        <inputAssignments>
            <name>input_MultiSelectString</name>
            <value>
                <elementReference>TrainingsConcatenatedText</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TrainingNames</assignToReference>
            <name>output_ParsedMultiSelect</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>UserIDToArray</name>
        <label>UserIDToArray</label>
        <locationX>152</locationX>
        <locationY>244</locationY>
        <connector>
            <targetReference>Parse</targetReference>
        </connector>
        <flowName>Convert_ID_to_Array_of_IDs</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>UserIDAsArray</assignToReference>
            <name>ArrayOfId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>EmployeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrainingAssignmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrainingCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TrainingIterator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrainingNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrainingsConcatenatedText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIDAsArray</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
